.App {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 750px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.226);
}

.card-task {
  padding: 20px;
  width: 700px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.226);
  margin-top: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-load {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 500px;
  justify-content: space-between;
}

.header-load input {
  width: 300px;
}

.form-label {
  margin-right: 5px;
  width: fit-content;
}

.error {
  color: red;
}

.success {
  color: green;
}
